@charset "UTF-8";

/* BASE */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  line-height: 1.15;
  /* 1 */
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
  font-size: 14px;
}

main {
  display: block;
}


h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

* {
  font-family: 'Poppins', sans-serif;
}

.title-xs {
  font-size: 1.6rem;
  font-weight: 200;
  line-height: 150%;
}

.title-md {
  font-size: 2rem;
  font-weight: 300;
  line-height: 150%;
}

.title-lg {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 150%;
}

.titulo-encabezados {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 100%;
}


.title-xl {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 150%;
}

.title-xxl {
  font-size: 4rem;
  font-weight: 600;
  line-height: 150%;
}

.title-xxxl {
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 150%;
}

.titulo-principal h2 {
  text-align: center;
  margin: 5rem;
  color: #222121;
  font-size: 5rem;
}

/* GRID SYSTEM */
/*------------------------------------*\
* CONTAINER
\*------------------------------------*/
/*------------------------------------*\
* COLUMNS
\*------------------------------------*/
/*------------------------------------*\
* BREAKPOINTS
\*------------------------------------*/
/**
* BREAKPOINT MIXINGS
*/
/**
* SMALL (XS)
*/
/**
* SMALL (SM)
*/
/**
* MEDIUM (MD)
*/
/**
* LARGE (LG)
*/
*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 115rem;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.row.no-gutter [class*=col] {
  padding: 0;
}

[class*=col].no-gutter {
  padding: 0;
}

[class*=col] {
  padding: 0.5rem;
}

.col {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/**
* EXTRA SMALL (XS)
*/
/*------------------------------------*\
    # COLUMNS
    \*------------------------------------*/
.col-xs-1 {
  width: 8.33333%;
}

.col-xs-2 {
  width: 16.66667%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-4 {
  width: 33.33333%;
}

.col-xs-5 {
  width: 41.66667%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-7 {
  width: 58.33333%;
}

.col-xs-8 {
  width: 66.66667%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-10 {
  width: 83.33333%;
}

.col-xs-11 {
  width: 91.66667%;
}

.col-xs-12 {
  width: 100%;
}

/*------------------------------------*\
    # OFFSET COLUMNS
    \*------------------------------------*/
.col-xs-offset-1 {
  margin-left: 8.33333%;
}

.col-xs-offset-2 {
  margin-left: 16.66667%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-4 {
  margin-left: 33.33333%;
}

.col-xs-offset-5 {
  margin-left: 41.66667%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-7 {
  margin-left: 58.33333%;
}

.col-xs-offset-8 {
  margin-left: 66.66667%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-10 {
  margin-left: 83.33333%;
}

.col-xs-offset-11 {
  margin-left: 91.66667%;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

/*------------------------------------*\
    # ORDERING
    \*------------------------------------*/
/*------------------------------------*\
    # HIDDING ELEMENTS
    \*------------------------------------*/
/**
* SMALL (SM), MEDIUM (MD), LARGE (LG)
*/
@media (min-width: 768px) {
  /*------------------------------------*\
    # COLUMNS
    \*------------------------------------*/
  .col-sm-1 {
    width: 8.33333%;
  }
  .col-sm-2 {
    width: 16.66667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33333%;
  }
  .col-sm-5 {
    width: 41.66667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33333%;
  }
  .col-sm-8 {
    width: 66.66667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33333%;
  }
  .col-sm-11 {
    width: 91.66667%;
  }
  .col-sm-12 {
    width: 100%;
  }
  /*------------------------------------*\
    # OFFSET COLUMNS
    \*------------------------------------*/
  .col-sm-offset-1 {
    margin-left: 8.33333%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66667%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66667%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66667%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66667%;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  /*------------------------------------*\
    # ORDERING
    \*------------------------------------*/
  /*------------------------------------*\
    # HIDDING ELEMENTS
    \*------------------------------------*/
}

@media (min-width: 992px) {
  /*------------------------------------*\
    # COLUMNS
    \*------------------------------------*/
  .col-md-1 {
    width: 8.33333%;
  }
  .col-md-2 {
    width: 16.66667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33333%;
  }
  .col-md-5 {
    width: 41.66667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33333%;
  }
  .col-md-8 {
    width: 66.66667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33333%;
  }
  .col-md-11 {
    width: 91.66667%;
  }
  .col-md-12 {
    width: 100%;
  }
  /*------------------------------------*\
    # OFFSET COLUMNS
    \*------------------------------------*/
  .col-md-offset-1 {
    margin-left: 8.33333%;
  }
  .col-md-offset-2 {
    margin-left: 16.66667%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333%;
  }
  .col-md-offset-5 {
    margin-left: 41.66667%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333%;
  }
  .col-md-offset-8 {
    margin-left: 66.66667%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333%;
  }
  .col-md-offset-11 {
    margin-left: 91.66667%;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  /*------------------------------------*\
    # ORDERING
    \*------------------------------------*/
  /*------------------------------------*\
    # HIDDING ELEMENTS
    \*------------------------------------*/
}

@media (min-width: 1200px) {
  /*------------------------------------*\
    # COLUMNS
    \*------------------------------------*/
  .col-lg-1 {
    width: 8.33333%;
  }
  .col-lg-2 {
    width: 16.66667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33333%;
  }
  .col-lg-5 {
    width: 41.66667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33333%;
  }
  .col-lg-8 {
    width: 66.66667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33333%;
  }
  .col-lg-11 {
    width: 91.66667%;
  }
  .col-lg-12 {
    width: 100%;
  }
  /*------------------------------------*\
    # OFFSET COLUMNS
    \*------------------------------------*/
  .col-lg-offset-1 {
    margin-left: 8.33333%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66667%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66667%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66667%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66667%;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  /*------------------------------------*\
    # ORDERING
    \*------------------------------------*/
  /*------------------------------------*\
    # HIDDING ELEMENTS
    \*------------------------------------*/
}

/* UTILITIES */
.img {
  height: auto;
  max-width: 100%;
}

/* COMPONENTS */
/*BOTON PRIMARIO Y SECUNDARIO*/
.button__primary, .button__secondary{
  height: 4rem;
  min-width: 150px;
  border: none;
  border-radius: 5rem;
  margin: 1.5rem  0rem 1rem 7rem;
  -webkit-box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

.button__primary:hover, .button__secondary:hover{
  cursor: pointer;
}

.button__primary a, .button__secondary a{
  color: beige;
  text-decoration: none;
  font-size: 14px;
}

.button__primary{
  background: #523A34;
  color: beige;
}

.button__primary:hover{
  background: #523A34;
}

.button__primary:hover{
  color: #f7f7f7f7;
}

.button__secondary{
  background: none;
  border: 2px solid #523A34;
}

.button__secondary a {
  color: #523A34;
  font-weight: bold;
}

.button__secondary:hover{
  background: #F2DD6E;
}

.button__secondary:hover a{
  color: #523A34;
}



/* LAYOUTS */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  line-height: 1.15;
  /* 1 */
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
  font-size: 16px;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

/* PALETA DE COLORES */
/* Paleta de colores en forma de maps */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1b1b1b;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-moz-selection {
  background: rgba(0, 123, 255, 0.3);
}

::selection {
  background: rgba(0, 123, 255, 0.3);
}

/*NAVBAR*/
.navbar {
  position: fixed;
  z-index: 5;
  width: 100%;
  padding: 25px 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar .content {
  max-width: 1250px;
  margin: auto;
  padding: 0px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar.sticky {
  padding: 10px 0;
  background: beige;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}


.navbar.sticky li a{
  color: black;

}

.navbar.sticky li a{
  color: black;

}

.navbar .menu-list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.menu-list li {
  list-style: none;
}

.menu-list li a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu-list li a:hover {
  color: #F2DD6E;
}

.icon {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.icon.cancel-btn {
  position: absolute;
  right: 30px;
  top: 20px;
}

.navbar.sticky .icon.cancel-btn {
  top: 10px;
}

@media (max-width: 868px) {
  body.disabledScroll {
    overflow: hidden;
  }
  .icon {
    display: block;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    z-index: 9;
  }
  .icon.cancel-btn {
    display: none;
  }
  .icon.cancel-btn.show {
    display: block;
  }
  .icon.hide {
    display: none;
  }
  .navbar .menu-list {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: #222;
    display: block;
    padding: 40px 0;
    text-align: center;
    -webkit-clip-path: circle(25px at calc(100% - 55px) calc(0% + 50px));
            clip-path: circle(25px at calc(100% - 55px) calc(0% + 50px));
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .navbar.sticky .menu-list {
    -webkit-clip-path: circle(25px at calc(100% - 55px) calc(0% + 35px));
            clip-path: circle(25px at calc(100% - 55px) calc(0% + 35px));
  }
  .navbar .menu-list.active {
    -webkit-clip-path: circle(75%);
            clip-path: circle(75%);
  }
  .navbar .menu-list li {
    margin-top: 45px;
  }
  .navbar .menu-list li a {
    font-size: 23px;
  }
}

/* VIEWS */
/**
* BREAKPOINT MIXINGS
*/
/**
* SMALL (XS)
*/
/**
* SMALL (SM)
*/
/**
* MEDIUM (MD)
*/
/**
* LARGE (LG)
*/

/*BANNERS*/
.imagen-principal {
  height: 100vh;
  background: url("../img/hamburguesa-plana-pizarra.jpeg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.imagen-principal .text-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px;
  color: white;
  text-align: right;
}

.imagen-principal .text-overlay h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.imagen-principal .text-overlay p {
  font-size: 1.2em;
}

.imagen-cursos {
  height: 60vh;
  background: url("../img/pastas.jpeg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.imagen-nosotros {
  height: 60vh;
  background: url("../img/composicion-flat-lay-pasta-copyspace.jpeg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/*HOME*/
/*SECCION PRINCIPAL */
.parte-principal {
  height: 80rem;
  background: #e9e9b6;
}

@media (min-width: 768px) {
  .parte-principal {
    height: 84rem;
  }
}

@media (min-width: 1200px) {
  .parte-principal {
    height: 56rem;
  }
}


/*NOSOTROS*/
/*SECCION PRINCIPAL */
.parte-principal-nosotros {
  height: 80rem;
  background: #e9e9b6;
}

@media (min-width: 768px) {
  .parte-principal-nosotros {
    height: 84rem;
  }
}

@media (min-width: 1200px) {
  .parte-principal-nosotros {
    height: 56rem;
  }
}


/*BANNER PRINCIPAL INDEX*/
.parte-principal__content-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5rem 2rem;
  max-width: 50%;
}

.parte-principal__content-img img{
  border-radius: 50%;
}

.parte-principal__content-texts {
  text-align: center;
}

.parte-principal__content-texts p {
  width: 100%;
  margin: 2rem auto;
  line-height: 150%;
}

@media (min-width: 1200px) {
  .parte-principal__content-texts {
    text-align: left;
  }
  .parte-principal__content-texts h2 {
    margin:20px 0px 0px 9rem;
  }
  .parte-principal__content-texts p {
    margin: 1rem 0rem 0rem 2rem;
    text-align: center;
  }
}



/*BANNER PRINCIPAL NOSOTROS*/
.parte-principal-nosotros__content-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5rem 2rem;
  max-width: 50%;
}

.parte-principal-nosotros__content-texts {
  text-align: center;
}

.parte-principal-nosotros__content-texts p {
  width: 100%;
  margin: 2rem auto;
  line-height: 150%;
}

@media (min-width: 1200px) {
  .parte-principal-nosotros__content-texts {
    text-align: left;
  }
  .parte-principal-nosotros__content-texts h2 {
    margin:11rem 1rem 1rem 0rem;
  }
  .parte-principal-nosotros__content-texts p {
    margin: 1rem 0rem 0rem 0rem;
    text-align: left;
  }
}



/*CONTENEDOR GALERIA*/
.galeria {
  margin: 5rem auto;
  padding: auto 1rem;
}

.galeria h2 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 5rem;
}
.galeria h3 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 3rem;
}

.galeria__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  grid-gap: 1em;
  margin: auto 1rem;
}

.galeria__gridnosotros {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
  grid-gap: 1em;
  margin-bottom: 30px;
}


/*GALERIA MERIENDA */
.merienda {
  position: relative;
}

.galeria__titulo {
  color: whitesmoke;
  font-size: 1em;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  background: rgb(45 43 43 / 40%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.galeria__titulo:hover, .galeria__titulo :focus {
  opacity: 1;
}

.galeria__img {
  line-height: 0;
  overflow: hidden;
}

.galeria__img img {
  -webkit-filter: blur(0px);
          filter: blur(0px);
  -webkit-transition: -webkit-filter 0.3s ease-in;
  transition: -webkit-filter 0.3s ease-in;
  transition: filter 0.3s ease-in;
  transition: filter 0.3s ease-in, -webkit-filter 0.3s ease-in;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.galeria__img img:hover, .galeria__img img :focus {
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

@media (hover: none) {
  .galeria__titulo {
    opacity: 1;
  }
  .galeria__img img {
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }
}

/* PALETA DE COLORES */
/* Paleta de colores en forma de maps */

.cards {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cards .card {
  width: 100%;
  max-width: 30rem;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background: beige;
  -webkit-box-shadow: 0px 1px 10px rgba(66, 6, 66, 0.2);
          box-shadow: 0px 1px 10px rgba(66, 66, 66, 0.2);
  -webkit-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  cursor: default;
}

.cards .card:hover {
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  -webkit-transform: translateY(-3%);
          transform: translateY(-3%);
}

.cards .card__img img {
  width: 100%;
  height: 21rem;
}

.cards .card__content {
  padding: 15px;
  text-align: center;
}

.cards .card__content h3 {
  margin-bottom: 15px;
  color: #523A34;
}

.cards .card__content p {
  line-height: 150%;
  color: #222121;
  font-size: 16px;
  margin-bottom: 5px;
}


/* Texto dos columnas */
.pasteleria {   
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 1;
  box-sizing: border-box;
  border: 2px solid #513a34;
  box-shadow: 0 0 10px rgb(0 0 0 / 55%);
  padding: 30px 30px 4px 30px;
  margin: 30px;

}

.column:nth-child(odd) {
  border-color: #513a34;
}

.column h2 {
  color: #333; 
  margin-bottom: 15px;
}

.column p {
  margin-bottom: 20px;
  text-align: justify;
  line-height: 150%;
  font-size: 14px;
}

@media (max-width: 768px) {
  .column {
    flex: 100%;
  }
}


/*Galeria*/
.containers {
  display: flex;
  flex-wrap: wrap;
}

.columns {
  flex: 1;
  padding: 20px;
}

.text {
  width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;  /* Centrar verticalmente */
    align-items: center;
    background-color: #f5f5dc;
}
.text h2{
  font-size: 20px;
  color: #523A34;
  text-align: center;
  margin:0 0 0 7rem;

}

.text p {
      font-size: 16px;
      line-height: 1.5;
      color: #523A34;
      text-align: center;
      width: 80%;
      margin: 1rem 0px 1rem 7rem;
}

.photos- {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.photo- {
  flex-basis: calc(50% - 10px); /* Ajuste para dos fotos por fila */
  margin-bottom: 10px; /* Espacio entre las filas */
  overflow: hidden; /* Para ajustar el tamaño de las imágenes */
}

.photo- img {
  width: 80%;
  height: auto;
  max-width: 100%;
  border-radius: 16px;
  transition: transform 0.3s ease-in-out;
}

.photo-:hover img {
  transform: scale(1.1); /* Cambia el tamaño de la imagen al hacer hover */
}

@media screen and (max-width: 768px) {
  .columns {
      flex: 100%;
  }
}

/*Requisitos cursos*/

.container-cursos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 2000px;
  padding-right: 120px;
  padding-top: 70px;
  border-radius: 10px;
  background: url(../img/iconos_cursos.png) center/cover no-repeat;
  background-size: cover;

}

.columna-cursos {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  margin-bottom: 20px; 
  height: 200px; 
}

@media (min-width: 600px) {
  .columna-cursos {
      width: 48%;
  }
}

@media (min-width: 768px) {
  .columna-cursos {
      width: 48%;
  }
}

@media (min-width: 992px) {
  .columna-cursos {
      width: 23%;
    
  }
}

.columna-cursos h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #523A34;
}

.columna-cursos p {
  font-size: 1em;
  line-height: 1.4;
  text-align: center;
}


/*Contacto*/
.container-contacto {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en una nueva línea si no caben en la pantalla */
  padding: 20px 0 0 0;
  margin-bottom: 20px;
}

.left-column {
  flex: 0.5;
  align-items: center;
  text-align: center;
  padding: 20px;
  border: 1px solid #2c2c2c;
   background-color: #523A34;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   margin-left: 40px;
   padding-top: 140px;
}

.left-column p{
  text-align: center;
 font-size: 20px;
 color: beige;
}

.left-column h2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 30px;
  padding: 60px 0 0 0;
  }

.right-column {
  flex: 1;
  padding: 40px; /* Ajusta el valor de padding según sea necesario */
  margin-left: 20px;
}

/* Media Query para dispositivos de pantalla más pequeña */
@media screen and (max-width: 768px) {
  .container-contacto {
    flex-direction: column; /* Cambia la dirección del flujo a vertical en pantallas más pequeñas */
  }

  .left-column,
  .right-column {
    flex: 100%; /* Ocupa todo el ancho en pantallas más pequeñas */
  }
}

/*Contacto formulario*/

.container-formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.columna-unica {
  background-color: #f5f5dc;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
}

.columna-unica h2 {
  margin-bottom: 20px;
  font-size: 2rem;
}

.columna-unica form label {
  display: block;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.columna-unica form input[type="text"],
.columna-unica form input[type="email"],
.columna-unica form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  box-sizing: border-box;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}


@media screen and (max-width: 768px) {
  .columna-unica {
    padding: 20px;
  }
  
  .columna-unica h2 {
    font-size: 1.5rem;
  }

  .columna-unica form input[type="text"],
  .columna-unica form input[type="email"],
  .columna-unica form textarea {
    font-size: 1rem;
  }

}

/*Galria sponsor*/

.container-sponsor {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  color: #333;
}

.gallery-container {
  border: 2px solid #513a34;
  padding: 20px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 16px;
}

.gallery img {
  width: 100%;
  height: auto;
  cursor: pointer;
  transition: transform 0.2s;
}

.gallery img:hover {
  transform: scale(1.1);
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.modal-content {
  display: block;
  margin: 10% auto;
  max-width: 80%;
  max-height: 80%;
}

.close {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}

.close:hover {
  color: #ccc;
}

.prev, .next {
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

/*Footer*/

.footer {
  background-color: #24262b;
  color: #fff;
  padding: 50px 0;
  border-top-color: #ffd264;
    border-top-width: 5px;
    border-style: solid;
}

.footer .container-footer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer .container-footer .row-footer {
  display: flex;
}

.footer .container-footer .row-footer .footer-col {
  width: 100%;
  padding: 0 30px;
}

.footer .container-footer .row-footer .footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 15px;
  font-weight: 500;
  position: relative;
}

.footer .container .row .footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  background-color: #ffd264;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer .container-footer .row-footer .footer-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .container-footer .row-footer .footer-col ul li {
  margin-bottom: 10px;
}

.footer .container-footer .row-footer .footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer .container-footer .row-footer .footer-col ul li a:hover {
  color: #ffd264;
}

.footer .container-footer .row-footer .footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer .container-footer .row-footer .footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

@media (max-width: 767px) {
  .footer .container-footer .row-footer .footer-col {
      width: 50%;
      margin-bottom: 30px;
  }
}

@media (max-width: 574px) {
  .footer .container-footer .row-footer .footer-col {
      width: 100%;
  }
}

/* Estilos para el enlace "volver arriba" */
.footer-col a {
  color: #333; /* Color del enlace */
  text-decoration: none; /* Quitar el subrayado del enlace */
  display: flex; /* Mostrar como flexbox para centrar verticalmente */
  align-items: center; /* Centrar verticalmente */
  text-align: left; /* Alinear el texto a la izquierda */
}

/* Estilos para el ícono de la flecha hacia arriba */
.footer-col a i {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

/* Estilos para el enlace al pasar el ratón sobre él */
.footer-col a:hover {
  text-decoration: underline; /* Subrayado al pasar el ratón sobre el enlace */
}




/*# sourceMappingURL=main.css.map */