/* PALETA DE COLORES */
$color-primary: #f5f5dc;
$color-secondary: #523A34;
$color-light: #f7f7f7f7;
$color-dark: #222121;
$color-orangeRed: #fb4b4e;
$color-rose: #ffaaa7;
$color-lime: #00cc66;
$color-blue: #2541b2;
$color-light2: #bcbbb7;

/* Paleta de colores en forma de maps */
$palette: (
    "primary": #f5f5dc,
    "secondary": #523A34,
    "light": #f7f7f7f7,
    "dark": #222121,
    "light2": #bcbbb7
);